.preview {
  position: absolute;
  margin-left: 2px;
  width: 380px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(26, 25, 24, 0.9);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.preview img {
  width: 250px;
  height: 200px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: center;
}

.preview p {
  margin: 0;
}


  